<div class="row">
  <h1>{{title}}</h1>
  <h2>Week of {{timeline.startDate}}</h2>
</div>
<div class="row week show-grid">


 <!--<ul class="pager">
  <li class="previous"><a href="#">Previous</a></li>
  <li class="next"><a href="#">Next</a></li>
</ul>-->
  <div class="col-md-2 arrow-left"><ul class="pager">
  <li class="previous"><a href="#">Previous week</a></li></ul></div>
  <div *ngFor="let day of timeline.days" class="col-md-1 day" (click)="goToDay(day)"
    [class.selected]="day === selectedDay" style="background-color:lightgray;">
    <span>{{day.dayOfWeek}}</span>
    <div class="day-icons">
      <div class="day-icon" id="prescriptions" *ngIf="day.prescriptions.length">
        <img src="app/views/images/prescription2.png">
      </div>
      <div class="day-icon" id="appointments" *ngIf="day.appointments.length">
        <img src="app/views/images/appointment2.png">
      </div>
      <br />
      <div class="day-icon" id="checklists" *ngIf="day.checklists.length">
        <img src="app/views/images/checklist.png">
      </div>
      <div class="day-icon" id="questionnaires" *ngIf="day.questionnaires.length">
        <img src="app/views/images/question.png">
      </div>
    </div>
  </div>
  <div class="col-md-2 arrow-right"><ul class="pager">
  <li class="previous"><a href="#">Next week</a></li></ul></div>
</div>
<div *ngIf="selectedDay" class="row day-details">
  <h3>{{formattedDay}}</h3>
  <div *ngIf="selectedDay.prescriptions.length">
    <h4>Prescriptions:</h4>
    <ul class="prescriptions">
      <li *ngFor="let prescription of selectedDay.prescriptions">
        {{prescription.name}} {{prescription.strength}} <br/>
        {{prescription.instructions}}
      </li>
    </ul>
  </div>
  <div *ngIf="selectedDay.appointments.length">
    <h4>Appointments:</h4>
    <ul class="appointments">
      <li *ngFor="let appointment of selectedDay.appointments">
        Appointment
      </li>
    </ul>
  </div>
  <div *ngIf="selectedDay.checklists.length">
    <h4>Checklists:</h4>
    <ul class="checklists">
      <li *ngFor="let checklist of selectedDay.checklists">
        Checklist
      </li>
    </ul>
  </div>
  <div *ngIf="selectedDay.questionnaires.length">
    <h4>Questionnaires:</h4>
    <ul class="questionnaires">
      <li *ngFor="let questionnaire of selectedDay.questionnaires">
        Questionnaire
      </li>
    </ul>
  </div>
</div>
